/* App.css */
body {
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 1001px) {
    .app-container {
        margin: 0 auto; /* 가운데 정렬 */
        max-width: 1000px; /* 최대 너비 설정 */
        padding: 0 20px; /* 좌우 패딩 추가 */
    }
}
@font-face {
    font-family: "D2Coding";
    font-weight: normal;
    src: url("../fonts/D2Coding.ttf") format("truetype");
}
